.page {
  width: 100%;

  margin-top: 2rem;
}

.summery {
  width: 100%;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .page {
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .summery {
    margin-top: 0;
  }
}
