<section class="signup-form" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="sign-up-card">
    <mat-card-title align="center">SignUp</mat-card-title>
    <mat-card-content>
      <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
      >
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Your email"
            ngModel
            name="email"
            email
            required
            #emailInput="ngModel"
          />
          <mat-error *ngIf="emailInput.hasError('required')">
            Field must not be empty.
          </mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">
            E-Mail is invalid.
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long.">
          <input
            type="password"
            matInput
            placeholder="Your password"
            ngModel
            name="password"
            required
            minlength="5"
            #pwInput="ngModel"
          />
          <mat-hint align="end">{{ pwInput.value?.length }} / 5</mat-hint>
          <mat-error *ngIf="pwInput.errors?.required">
            Password is required!
          </mat-error>
          <mat-error *ngIf="pwInput.errors?.minlength">
            Must be contain at least 5 characters.
          </mat-error>
        </mat-form-field>

        <mat-checkbox ngModel name="agree" required color="primary">
          Agree to Terms and Conditions.
        </mat-checkbox>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
