<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
  </ng-container>

  <ng-container matColumnDef="burned">
    <th mat-header-cell *matHeaderCellDef>Colories Burned</th>
    <td mat-cell *matCellDef="let element">{{ element.burned }}</td>
  </ng-container>
  <ng-container matColumnDef="burnedDueToBasalMetabolism">
    <th mat-header-cell *matHeaderCellDef>Basal Metabolism</th>
    <td mat-cell *matCellDef="let element">
      {{ element.burnedDueToBasalMetabolism }}
    </td>
  </ng-container>

  <ng-container matColumnDef="gained">
    <th mat-header-cell *matHeaderCellDef>Colories Gained</th>
    <td mat-cell *matCellDef="let element">{{ element.gained }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="resultInCals">
    <th mat-header-cell *matHeaderCellDef>Result (kcals)</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
        warning: element.resultInCals > 0,
        praise: element.resultInCals < 0
      }"
    >
      {{ element.resultInCals }}
    </td>
  </ng-container>
  <ng-container matColumnDef="resultInGrams">
    <th mat-header-cell *matHeaderCellDef>Result (grams)</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
        warning: element.resultInCals > 0,
        praise: element.resultInCals < 0
      }"
    >
      {{ element.resultInGrams }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
